html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #f5eafa;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}
.btn:link {
    text-decoration: none;
    color: #f5eafa;
}
.btn:visited {
    color: #f5eafa;
}


video {
    min-width:100%;
    min-height:100%;
    position:fixed;
    z-index:-1;
    overflow:hidden;
    top:0;
    left:0;
}

h1 {
    font-size:780%;
    text-shadow: 0px 1px black;
}


.weather-box {
    position:fixed;
    top:2%;
    right:0px;
    text-align: left;
    min-width:5%;
}
.weather-box > p {
    font-size:64%;
    /*margin-left: 1000px;*/
}

#weather {
    margin-left: 10%;
}

.setting-box {
    position:fixed;
    top:2%;
    left:2%;
}

#timer_div {
    /*box-shadow: 0px 0px 0px 0px red, 0px 0px 0px 0px red;*/
}

.news-box {
    position: fixed;
    bottom:4%;
    left:2%;
    width:25%;
    max-height:47%;
    overflow: auto;
}
.quote-box
{
    min-height:90px;
}

.todo-box {
    position:fixed;
    bottom:8%;
    right:1%;
    text-align: center;
    width:15%;
    max-height:47%;
}

#popover-link-box {
    position:fixed;
    top:7%;
    left:7%;
    text-align: left;
    min-width:11%;
    font-size:80%;
    background-color: #09092a;
    padding:20px;
    /*border: 1px red solid;*/
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5), 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    /*max-height:47%;*/
}

#popover-link-box >ul > li {
    text-align: left;
    border-left:1px solid grey;
    padding:15px;
    margin-bottom:10px;
    border-bottom:none;

}
.link-box-item:focus {
    font-weight: bold;
}

.link-box-item {
    display:none;
}

#add_item_button
{
    /*float:right; margin-bottom: 10px;margin-right: 2px;*/
    position:fixed;
    right:1%;
    bottom:4%;
    z-index: 2;
}

.todo-box-upper {
    max-height:300px;
    width:100%;
    overflow: auto;
}

.todo-box-under {
    /*border:1px solid blue;*/
    max-height:50px;
}

.todo-box-under >table >tr {
    width:100%;
}

#time_content_greeting {
    font-style: italic;
    min-height: 30px;

}
#time_content_greeting > span {
    font-size: 90%;
}

ul {
    width:100%;
    padding-left: 0;
}

li {
    width:100%;
    list-style: none;
    overflow-wrap: break-word;
    hyphens: auto;
    text-align: center;
    border-bottom: 1px solid grey;
    padding-bottom:5%;
    padding-top:5%;
}

.popover{
    background-color: #09092a;
    min-width:26%;
    max-width: 45%;
    border-width: 0px;
    box-shadow: 1px 5px 8px 1px rgba(0, 0, 0, 0.5), 7px 20px 20px 7px rgba(0, 0, 0, 0.19);
}

.setting-table {
    width:100%;
    color:white;
    /*margin-left:12%;*/
    padding:0px;

}

.setting-table-tr {
    border-bottom: 1px #383838 solid;
    /*width: 100px;*/
    /*border:1px solid red;*/
}
.setting-table-tr:hover {
    font-weight: bold;
}
.setting-table-tr > td {

}

.setting-table-tr-label {
    text-align:right;
    height:34px;
}
.setting-table-div {
    max-height: 300px;
    overflow: auto;
    overflow-x: hidden;
    min-width:100%;
}
#changecolor {
    float:right;
}
.option_header {
    font-weight: bold;
}
td {
    text-align: left;
    /*min-width: 50%;*/

}

.switch {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 30px;
    top:10px;
    /*right:*/
    /*margin-left:-25%;*/
}

.switch > input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: cornflowerblue;
}

input:focus + .slider {
    box-shadow: 0 0 1px cornflowerblue;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.search {
    /*box-shadow: 1px 5px 8px 1px rgba(0, 0, 0, 0.5), 7px 20px 20px 7px rgba(0, 0, 0, 0.19);*/
    background: transparent;
    margin-bottom:2%;
    color:white;
    width:60%;
    text-align: left;
    margin-left:20%;
    border:none;
    padding-left: 8%;
    border-bottom:2px solid white;
}
.fa-search {
    position:absolute;
    left:39%;
    padding-top:0.7%;

    /*border:1px red solid;*/

}
.search:focus {
    background: transparent;
    box-shadow: 1px 5px 8px 1px rgba(0, 0, 0, 0.5), 7px 20px 20px 7px rgba(0, 0, 0, 0.19);
    color:white;
}

.todo {
    /*box-shadow: 1px 5px 8px 1px rgba(0, 0, 0, 0.5), 7px 20px 20px 7px rgba(0, 0, 0, 0.19);*/
    background: transparent;
    border-radius: 10px;
    color:white;
    width:100%;
    text-align: center;
}

.todo:focus {
    background: transparent;
    border-radius: 10px;
    box-shadow: 1px 5px 8px 1px rgba(0, 0, 0, 0.5), 7px 20px 20px 7px rgba(0, 0, 0, 0.19);
    color:white;
}

.register-input {
    /*box-shadow: 1px 5px 8px 1px rgba(0, 0, 0, 0.5), 7px 20px 20px 7px rgba(0, 0, 0, 0.19);*/
    background: transparent;
    border-radius: 10px;
    color:white;
    width:100%;
    border:none;
    border-bottom:1px solid grey;
    /*text-align: center;*/
}

.register-input:focus {
    background: transparent;
    border-radius: 10px;
    /*box-shadow: 1px 5px 8px 1px rgba(0, 0, 0, 0.5), 7px 20px 20px 7px rgba(0, 0, 0, 0.19);*/
    color:white;
    border:none;
    outline:none !important;
    border-bottom:1px solid grey;
    box-shadow: none;
}

*:focus {
    outline: none !important;
    box-shadow: none;
}

#time {
    min-width:380px;
    min-height:90px;
}

#time > small{
    font-size:25%;
}

.user-profile, .new-user-register, .contact_info, .about_info {
    color:white;display: none;
}

.user-profile, .new-user-register, .contact_info, .about_info > p{
    /*margin-left:2%;*/
}


/* GENERAL BUTTON STYLING */
button,
button::after {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

input:focus {
    outline:none;
}

button {
    background: transparent;
    /*border: 3px solid #fff;*/
    border-radius: 5px;
    color: #fff;
    /*display: block;*/
    /*margin: 1em auto;*/
    /*padding: 2em 6em;*/
    position: relative;
    line-height: 1.5;
    font-size: 1rem;
    padding: .375rem .75rem;
    cursor:pointer;
}

button::before,
button::after {
    background: #fff;
    content: '';
    position: absolute;
    z-index: -1;
}

button:hover {
    color: #2ecc71;
}


/* BUTTON 2 */
.btn-2::after {
    height: 100%;
    left: 0;
    top: 0;
    width: 0;
}

.btn-2:hover:after {
    width: 100%;
}

#new-task {
    border:none;
    border-bottom:2px solid dimgrey;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5), 10px 20px 20px 10px rgba(0, 0, 0, 0.19);
}


/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    /*background: black;*/
    border-radius: 20px;
    border:1px grey solid;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: darkgrey;
    width: 8px;
}


.news-list >li {
    font-size: 60%;
    text-align: left;
    padding:2%;
}
.news-list >li >h1 {
    font-size: 6px;
}

.delete-item {
    color:indianred; float:right;margin-right:5%;
    cursor: pointer;
}

#error-msg-item{
    font-size:60%;
    text-align: center;
}

.background-img > img
{
    width:100%;
    height:100%;
    position:fixed;
    z-index:-1;
    overflow:hidden;
    top:0;
    left:0;
}

.tablink {
    /*background-color: #2a2a09;*/
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1px;
    font-size: 13px;
    min-width: 8%;
    width:25%;
    border-radius: 0px;
    /*margin-left:1%;*/
}

.tablink:focus {
    outline:none ;
}
.active {
    /*text-decoration: underline;*/
    /*text-decoration-color: cornflowerblue;*/
    box-shadow: 1px 5px 8px 1px rgba(0, 0, 0, 0.5), 7px 20px 20px 7px rgba(0, 0, 0, 0.19);
    border-bottom: 1px solid cornflowerblue;
    color:white;
    font-weight: bold;
    font-size: 13px;
}

.active > .fa-cogs {
    color:orangered;
}

.active > .fa-user {
    color:greenyellow;
}

.active > .fa-envelope-square {
    color:cornflowerblue;
}

.active > .fa-info {
    color: orange;
}


.photo_taken_by
{
    text-align: center;
    font-size:11px;
    margin-left: -5px;
    font-style: italic;
}

a {
    cursor: pointer;
}