html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #f5eafa;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}
a:link {
    text-decoration: none;
    color: #f5eafa;
}
a:visited {
    color: #f5eafa;
}


video {
    min-width:100%;
    min-height:100%;
    position:fixed;
    z-index:-1;
    overflow:hidden;
    top:0;
    left:0;
}

h1 {
    font-size:650%;
}

.weather-box {
    position:fixed;
    top:2%;
    right:2%;
}
.weather-box > p {
    font-size:70%;
}

.setting-box {
    position:fixed;
    top:2%;
    left:2%;
}

.news-box {
    position: fixed;
    bottom:4%;
    left:2%;
    width:25%;
    max-height:47%;
    overflow: auto;
}

.todo-box {
    position:fixed;
    bottom:8%;
    right:3%;
    text-align: center;
    width:25%;
    max-height:47%;

}

.todo-box-upper {
    max-height:350px;
    width:100%;
    overflow: auto;
}

.todo-box-under {
    /*border:1px solid blue;*/
    max-height:50px;
}

.todo-box-under >table >tr {
    width:100%;
}


ul {
    width:100%;
    padding-left: 0;
}

li {
    width:100%;
    list-style: none;
    overflow-wrap: break-word;
    hyphens: auto;
    text-align: center;
    border-bottom: 1px solid grey;
    padding-bottom:5%;
    padding-top:5%;
}

.popover {
    background-color: #09092a;
    min-width:22%;
    border-width: 0px;
    box-shadow: 1px 5px 8px 1px rgba(0, 0, 0, 0.5), 7px 20px 20px 7px rgba(0, 0, 0, 0.19);
}

.setting-table {
    width:100%;
    color:white;
}

td {
    text-align: center;
    min-width: 50px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    top:10px;
}

.switch > input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: blueviolet;
}

input:focus + .slider {
    box-shadow: 0 0 1px blueviolet;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


.search {
    box-shadow: 1px 5px 8px 1px rgba(0, 0, 0, 0.5), 7px 20px 20px 7px rgba(0, 0, 0, 0.19);
    background: transparent;
    border-radius: 20px;
    margin-bottom:10%;
    color:white;
    width:45%;
    text-align: center;
    margin-left:25%;
}

.search:focus {
    background: transparent;
    border-radius: 20px;
    box-shadow: 1px 5px 8px 1px rgba(0, 0, 0, 0.5), 7px 20px 20px 7px rgba(0, 0, 0, 0.19);
    color:white;
}

.todo {
    /*box-shadow: 1px 5px 8px 1px rgba(0, 0, 0, 0.5), 7px 20px 20px 7px rgba(0, 0, 0, 0.19);*/
    background: transparent;
    border-radius: 10px;
    color:white;
    width:100%;
    text-align: center;
}

.todo:focus {
    background: transparent;
    border-radius: 10px;
    /*box-shadow: 1px 5px 8px 1px rgba(0, 0, 0, 0.5), 7px 20px 20px 7px rgba(0, 0, 0, 0.19);*/
    color:white;
}

#time {
    min-width:380px;
}



/* GENERAL BUTTON STYLING */
button,
button::after {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

button {
    background: transparent;
    /*border: 3px solid #fff;*/
    border-radius: 5px;
    color: #fff;
    /*display: block;*/
    /*margin: 1em auto;*/
    /*padding: 2em 6em;*/
    position: relative;
    line-height: 1.5;
    font-size: 1rem;
    padding: .375rem .75rem;
    cursor:pointer;
}

button::before,
button::after {
    background: #fff;
    content: '';
    position: absolute;
    z-index: -1;
}

button:hover {
    color: #2ecc71;
}


/* BUTTON 2 */
.btn-2::after {
    height: 100%;
    left: 0;
    top: 0;
    width: 0;
}

.btn-2:hover:after {
    width: 100%;
}

#new-task {
    border:none;
    border-bottom:1px solid grey;
}


/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    /*background: black;*/
    border-radius: 20px;
    border:1px grey solid;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: darkgrey;
    width: 8px;
}


.news-list >li {
    font-size: 60%;
    text-align: left;
    padding:2%;
}
.news-list >li >h1 {
    font-size: 6px;
}

.delete-item {
    color:indianred; float:right;margin-right:5%;
    cursor: pointer;
}

#error-msg-item{
    font-size:60%;
    text-align: center;
}